body {
    font-family: sans-serif;
}

header {
    background-color: darkblue;
}

header img {
    margin: 10px;
}

header a {
    color: white;
}

h1 {
   text-align: center; 
   color: darkblue;
}

footer {
    background-color: pink;
}

footer p {
    background-color: white;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 3px solid navy;
    border-radius: 10px;
    background-color: navy;
    margin: 20px;
}

.wait {
    background-color: white;
    color: royalblue;
}

.green {
    background-color: green;
}

h2 {
    text-align: center;
    color: blue;
}

nav {
    margin: 10px;
    text-align: center;
}
